<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 <script src="https://kit.fontawesome.com/05daeaf48d.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./stylesheets/bigShanty.css">
</head>
<body >
	

	
<div class="container shadow">
			<div><h1 class="big">BIG</h1></div>
			<div><h1>SHA</h1></div>
			<div><h1 class="">NTY</h1></div>	
</div>







<div class="container bartext pt-4">
	<ul class="nav pr-5">
		
		
<!-- ******************************************		 -->
<!-- contact tab -->
<!-- ******************************************		 -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModalCenter">Contact</a>
	  
	  <!-- Modal -->
	<div class="modal fade" id="contactModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLongTitle">For Contact</h5>
		  </div>
		  <div class="modal-body">
			<div>Email: jkm43554@yahoo.com</div>
			<div>or</div>
			<div>Follow any of the following:
			  <a class="nav-link" href="https://www.instagram.com/jkmilkcarton/" target="_blank"><i class="fab fa-instagram"></i>	@JKMilkcarton</a>
			  <a class="nav-link" href="https://twitter.com/JKMilkcarton" target="_blank"><i class="fab fa-twitter"></i>	@JKMILKCARTON</a>
			  <a class="nav-link" href="https://www.facebook.com/BigShanty/" target="_blank"><i class="fab fa-facebook"></i>	facebook.com/bigshanty</a>
			</div>
			  
		  </div>
		  <div class="modal-footer">
			<a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal">Close</a>
		  </div>
		</div>
	  </div>
	</div>  
  </li>
		
<!-- ******************************************		 -->
<!-- music tab -->
<!-- ******************************************		 -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#musicModalCenter">Music</a>
	  <!-- Modal -->
	<div class="modal fade" id="musicModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLongTitle">For Music</h5>
		  </div>
		  <div class="modal-body">
			<div>Music Coming Soon!</div>
			<div>Follow any of the following links to stay up to date on new music:
			<!-- 	for music release in future		 -->
			<!-- <iframe src="https://open.spotify.com/embed/artist/7wGOLZDZTMsbNAX3DZnvlj" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
			<div>
				
				
				  <a class="nav-link icon" href="https://open.spotify.com/artist/7wGOLZDZTMsbNAX3DZnvlj?si=VTy2PvFrSAGhsIhl3niTpw" target="_blank"><i class="fab fa-spotify"></i>
	</i></a>
				  <a class="nav-link icon" href="https://music.apple.com/us/artist/big-shanty/217087972" target="_blank"><i class="fab fa-apple"></i>
	</a>
				  <a class="nav-link icon" href="https://soundcloud.com/big-shanty" target="_blank"><i class="fab fa-soundcloud"></i>

	</a>
			</div>
			</div>
			  
		  </div>
		  <div class="modal-footer">
			<a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal">Close</a>
		  </div>
		</div>
	  </div>
	</div>  	    
  </li>
		
		
	
<!-- ******************************************		 -->
<!-- shows tab -->
<!-- ******************************************		 -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#showModalCenter">Shows</a>
	  <!-- Modal -->
	<div class="modal fade" id="showModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLongTitle">Show dates:</h5>
		  </div>
		  <div class="modal-body">
			<div>No shows yet!</div>
			
		  </div>
		  <div class="modal-footer">
			<a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal">Close</a>
		  </div>
		</div>
	  </div>
	</div>  	  
  </li>
  </ul>

</div>
	


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>